<h1>What happening?</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/jVqE3nKpWCI" frameborder="0" allowfullscreen></iframe>


<h1>What do you need to know?</h1>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Hillary_Clinton_official_Secretary_of_State_portrait_crop.jpg/220px-Hillary_Clinton_official_Secretary_of_State_portrait_crop.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Hilary Clinton</h4>
        <p class="card-text">American politician and the Democratic Party nominee for President of the United States in the 2016 election.</p>
        <a href="/hilary" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Donald_Trump_August_19%2C_2015_%28cropped%29.jpg/220px-Donald_Trump_August_19%2C_2015_%28cropped%29.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Donald Trump</h4>
        <p class="card-text">Republican Party nominee for President of the United States in the 2016 election.</p>
        <a href="/trump" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>
