<h1>Donald Trump</h1>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Biography</h4>

  </div>
  <iframe src="//giphy.com/embed/wJNGA01o1Zxp6" width="480" height="350" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/baby-wJNGA01o1Zxp6"></a></p>
  <div class="card-block">
    <p class="card-text">is an American businessman, television producer, author, politician, and the Republican Party nominee for President of the United States in the 2016 election. He is the chairman and president of The Trump Organization, which is the principal holding company for his real estate ventures and other business interests. During his career, Trump has built office towers, hotels, casinos, golf courses, an urban development project in Manhattan, and other branded facilities worldwide.</p>
    <a href="https://en.wikipedia.org/wiki/Donald_Trump" class="card-link">More information</a>
  </div>
</div>
