<h1>Time to find your match!</h1>

<% profile.forEach((dino) => { %>

 <div>Selfies<img src= "<%= dino.url %>"></div>
  <h2><%= dino.name %></h2>
  <h6><%= "Age: " + dino.age %></h6>
  <h6><%= "Species: " + dino.species %></h6>

<% }) %>
