<h1>Your Profile</h1>

<form action="/profiles" method="post">

  <div class="form-group">
    <label for="profile_name">Name</label>
    <input type="text" name="profile[name]" id="profile">
  </div>

  <div class="form-group">
    <label for="profile_age">Age</label>
    <input type="text" name="profile[age]" id="profile_age">
  </div>

  <div class="form-group">
    <label for="book_species">Species</label>
    <input type="text" name="profile[species]" id="book_species"?>
  </div>

  <button class="btn btn-primary">Submit</button>

</form>
