body{
  /*background-image: url("e2h6cBd.png");
  background-repeat: no-repeat;*/
  background-size: contain;
  background-color: black;
}
img{
  width: 100x;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto }

}

h1{
  color: maroon;
  font-family: sans-serif;
}

.section2{
  text-align: center;
}

}
.container{
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
  /*margin-top: 50px;*/

}

.button {background-color: transparent;
          border: 1px solid white;
          color: yellow;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 12px;
          margin: 16px 4px 4px 60px;
          cursor: pointer;
          width: 100px;
          height: 100px;
          font-family: sans-serif;
}
