body{
  background-color: #ccc6ba;

}
ul {
  list-style: none;

}

nav ul li {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

nav ul li a.active {
  background-color: #fcfcfc;
}
