body{
  /*background-color: #ccc6ba;*/
    text-decoration: none;
}
ul {
  list-style: none;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
}

nav ul li a {
  display: block;
  padding: 10px;
}

nav ul li a.active {
  background-color: #fcfcfc;
}

img {
  width: 150px;
  height: 220px;
}
